.header{
 height:  57px;
border-bottom: 1px;
 border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:rgb(228,228,228);
display:flex;
flex-direction:row;
justify-content:space-between;
position:fixed;
top:0;
left:0;
right:0;

background-color: white;
z-index:100;
}
.hamburger-menu{
    height:24px;
    margin-left: 24px;
    margin-right:24px;
}
.youtube-logo{
    height:20px;
}
.left-section{
 
 display: flex;
 align-items: center;

}
.middle-section{

    flex:1;
    display:flex;
   margin-left:60px;

   max-width:470px;
   align-items: center;
}
.right-section{
 margin-right: 24px;
    margin-left: 26px;
     width:180px;
     display:flex;
     align-items: center;
     justify-content: space-between;
     flex-shrink: 0;
}

.search-bar{
    flex:1;
    height:36px;
     padding-left: 10px;
     font-size: 16px;
     border-style: solid;
     width:0;
     border-width: 1px;
     border-color: rgba(167, 161, 161,0.3);
     border-radius: 3px;
     box-shadow:inset 1px 2px 3px rgba(0 ,0 ,0 ,0.05 )  ;
}
.search-bar::placeholder{
    font-family: Roboto,arial;
    font-size:15px;
     letter-spacing: 0.3px;
    font-weight: 400;
    opacity:.7;
    color: rgb(138, 136, 136);
}
.search-button{
    height:40px;
    width:66px;
    background-color: rgb(247, 247, 247);
      border: 1px solid rgb(204, 204, 204);
    margin-left :-1px;
     box-shadow:inset 1px 2px 3px rgba(0 ,0 ,0 ,0.05 ) ;
    margin-right:10px; 
    position:relative;
}
.search-button .tooltip
{
  position:absolute;
  background-color: grey;
  color:white;
  padding:4px 8px 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  bottom: -50px; 
  opacity:0;
  transition: opacity 0.15s;
  pointer-events:none;
}
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container {
  position: relative;
  overflow: visible;
}

.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}


.search-button:hover .tooltip{
    opacity:1;
}
.search-icon{
    height:25px;
    margin-top: 5px;
}
.voice-search-button{
    height:40px;
    width:40px;
    border-radius: 20px;
    border:none;
background-color: rgb(244, 244, 244);
    position:relative;
}
.voice-search-icon{
    height:24px;
    margin-top: 4px;
    
}


.upload-icon{
    height:24px;
   
}
.youtube-apps-icon{
    height:24px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position:absolute;
    top:-4px;
    right:-8px; 
    border: solid ;
    background-color: rgb(203, 0, 0);
    color: white;
    font-family:Roboto,Arial,sans-serif;
    font-size: 11px;
    padding:2px 5px 2px 5px;
    border-radius: 50%;
}
.notifications-icon{
   height:24px; 
}
.mychannelpic{
    height:32px;
    border-radius: 16px;
}
