.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top :55px;
    background-color: white;
    width:72px;
    z-index:200;
        padding-top: 5px;
}
.sidebar-link{
    height:74px;
      display :flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.sidebar-link:hover{
      background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    height:24px;
   margin-bottom: 6px;
   font-weight: 520;
}
.sidebar-link div{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:9.5px;
 
}