/* Whole video */
.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 45px;
    margin-bottom: 300px;
}

/* Thumbnails */
.thumbnail{
    width:100%;
}
@media (max-width:750px){ 
    .video-grid{ grid-template-columns: 1fr 1fr}
}
@media (max-width:750px) and (min-width:1000px){
      .video-grid{ grid-template-columns: 1fr 1fr 1fr}
}
@media (min-width:1000px) { 
    .video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr}
}
/* Grid for profile & video info */
.video-info-grid{
    display:grid;
    grid-template-columns:40px 1fr;
    column-gap:7px;
    padding-left:0px;
    padding-right:5px;
    width:100%;
    align-items:top;
}
/* Profile image */
.profile{
    width:36px;
    height:36px;
    border-radius:50%;
}

/* Text styling */
.video-title{
    font-size:14px;
   margin: 0 0 10px 0 ;
   font-weight: 580;
   line-height: 20px;
}
.video-title a {
  text-decoration: none;
    color: inherit;
}
.author a{
    text-decoration: none;
    color: inherit;
}
.thumbnail-row{
    margin-bottom: 10px;
    position:relative;
}
.author,
.views{
    font-size:12px;
    color:rgb(96,96,96);
    margin:0;
}

.author{
    margin-bottom:3px;
}

.video-time{
    background-color:black;
    color:white;
    position: absolute;
   right: 6px;
   bottom:11px;
   font-weight:500;
   font-size: 12px;
   padding: 4px 3px 4px 3px;
   border-radius: 2px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
